# fastapi==0.95.2
# uvicorn[standard]==0.22.0
# opentelemetry-distro 
# opentelemetry-exporter-otlp
# opentelemetry-sdk
# opentelemetry-api

fastapi
uvicorn[standard]
requests
opentelemetry-sdk
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-instrumentation        # <--- required
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-system-metrics
opentelemetry-contrib-instrumentations
