fastapi
uvicorn[standard]
pandas
pyiceberg
pyarrow
boto3
grpcio
protobuf
opentelemetry-proto
requests
redis
# pydantic
pydantic==2.7.4

# fastapi
# uvicorn[standard]
# pandas
# pyarrow
# boto3
# grpcio
# protobuf
# opentelemetry-proto
# requests
# tenacity

# # Compatible versions
# pydantic>=1.10.12,<2
# pyiceberg==0.6.0
